<ion-content class="ion-content ion-padding" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col>
        <a href="/treine">
          <ion-icon name="chevron-back-outline" size="large" class="icon" />
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-content-img">
        <img src="assets/icon/compartilhar.png" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="footer">
  <ion-row>
    <ion-col class="status-bar">
      <div class="div1"></div>
      <div class="div2"></div>
      <div class="div3"></div>
      <div class="div4"></div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="ion-content-description">
      <h1>Alimente-se Bem</h1>
      <p class="ion-text-center"> 
        Blandit nec enim ac pretium leo proin
        facilisi ultrices. Sed etiam at iaculis
        sit morbi ac vulputate cum aliquam.
      </p>
      <a href="/compartilhar">
        <ion-img src="assets/icon/bt-tutorial.png"/>
      </a>
      <p class="ion-text-center">Pular</p>
    </ion-col>
  </ion-row>

</ion-footer>