<ion-content class="ion-content ion-padding" [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="container">
          <a href="/name">
            <ion-icon name="chevron-back-outline" size="large" class="icon" />
          </a>
          <h1>Data nascimento ?</h1>
          <ion-label class="label">data nascimento</ion-label>
          <ion-datetime presentation="date" [preferWheel]="true"></ion-datetime>
        
          <ion-button 
          class="button-primary" 
          [href]="['foto']"
          >Proximo</ion-button>

        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>